.grouped-items {
    cursor: pointer;
    border-top: 0.5px solid black; /* Remove double quotes around property values */
    border-bottom: 0.5px solid black; /* Remove double quotes around property values */
    padding-left: 20px; /* Remove double quotes around property values */
    padding-top: 10px; /* Remove double quotes around property values */
    padding-bottom: 10px; /* Remove double quotes around property values */
    color: #cec9c9; /* Remove double quotes around property values */
  }

.grouped-items:hover{
    color: white; /* Change the font color on hover */
    cursor: pointer; /* Change the cursor to a pointer on hover */
}

.search-box::placeholder{
    color:#e5e5e5
}